.mainPage{
    width: 100%;
    height: calc(100vh - 84px);
    background-color: slateblue;
    padding-top: 20px;
}
.leftSide{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rightSide{
    display: flex!important;
    height: 100%;
    width: 100%;
    flex-direction: column!important;
    align-items: center;
    justify-content: space-around;
}
.allCount{
    width: 100%;
    font-size: 5rem;
    color: #fff;
}